.backimg{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/697/207/non_2x/processor-chip-on-a-printed-circuit-board-in-red-backlight-3d-illustration-on-the-topic-of-technology-and-the-power-of-artificial-intelligence-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}